body{
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
    
}
.top-container{
    position: relative;
    padding-top: 100px;
    background-color: #EAF6F6
    ;
}
p{
    color: #40514E;
}
.sub{
    font-weight: normal;
}
.img1{
    width: 25%;
    float: left;
    padding-right: 30px;
}
.img2{
    width: 25%;
    float: right;
    padding-left: 30px;
}
hr{
    border: unset;
    border: 6px dotted;
    width: 4%;
    color: #EAF6F6;
    border-bottom: 0;
    
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.bottom_heading{
    margin-top: 100px;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Over the Rainbow', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}
h3{
    font-family: 'Noto Sans', sans-serif;
    color: #11999E;
}
h2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;

}
a{
    color: #11999E;
}
.contact-me{
    width: 50%;
    margin: 100px auto 100px auto;
}
.btn {
	box-shadow: -1px 7px 16px -7px #274c73;
	background:linear-gradient(to bottom, #59b0b3 5%, #65adba 100%);
	background-color:#59b0b3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:19px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #65adba 5%, #59b0b3 100%);
	background-color:#819ea3;
}
.btn:active {
	position:relative;
	top:1px;
}

.middle-container{
  
}

.bottom-container{
  
}